[2016-08-29 15:12] schrockwell opened #1 "Add support for policy changesets"
It might be cool if policies could also provide a "starting point" changeset. Maybe include `cast` operations, but no validations necessarily. Basically it would just be used to whitelist parameters passed in to a changeset.

The rough idea:

[code]

[2016-08-29 15:14] schrockwell opened #2 "Add helpers for sockets"
Seems like a no-brainer – just use `conn` instead of `socket`, and use pattern matching against channels and messages versus controller actions.

[2016-08-29 15:15] schrockwell opened #3 "Add view helpers"
Something more terse than `Authy.authorized?(@conn.assigns.current_user, :action, resource)`

[2016-08-29 15:15] schrockwell opened #4 "Add controller helpers that simply return boolean"
... and don't take a block argument.

[2016-09-02 23:22] schrockwell opened #5 "Collaborate (read: steal ideas) with @bencates on system76/policy"
After discussion with @bencates at ElixirConf...

Primary change: additional controller helpers for `authorize`:

*  `authorize/3`: new, returns `{:ok, conn}` or `{:error, reason}` - good for handling `with` statements (a bit of future-proofing for Phoenix 1.3, and nice and Elixiry)
* `authorize!/3`: new, returns conn on success, raises on failure
* ~~`authorize/4`: tweak: it's still a macro, but

[2016-09-02 23:23] schrockwell commented on #4
Duplicate functionality as #5, closing.

[2016-09-02 23:23] #4 closed

[2016-09-03 03:25] schrockwell commented on #5
@bencates I'd like to use the [git-flow](http://nvie.com/posts/a-successful-git-branching-model/) branching strategy for making changes. Basically we can do all active development on a `develop` branch, and merge changes over to `master` only when the package is finally published on Hex, tagging it with the version number. That way `master` will align with the most current release.

[2016-09-03 14:54] schrockwell opened #6 "Rename authy"
Twilio has [a trademark for Authy](https://trademarks.justia.com/864/89/authy-86489618.html), their iOS two-factor authentication app.

It could be a an issue in the future, and it's going to be infinitely easier to rename the package now before anybody is actually using it.

We can [rename the GitHub repo](https://help.github.com/articles/renaming-a-repository/) with no problem, since it will red

[2016-09-03 14:54] ejreynolds commented on #6
👍

[2016-09-03 15:03] schrockwell commented on #5
I think we should remove the `authorize` macro entirely, in part because the proposed `authorize/4` function will conflict with it, and in part because do-blocks are very Ruby-esque, and we should embrace `{:ok, result}` and the pipeline.

@bencates also has convinced me that raising exceptions is OK, since an authorization failure is truly an exceptional case. Also, Plug and Phoenix already have

[2016-09-03 15:03] bencates commented on #6
Maybe "eleven", as in "a11n". And also "this one goes to eleven".

On Sat, Sep 3, 2016, 10:54 AM Erik J Reynolds <notifications@github.com>
wrote:

[2016-09-03 15:14] schrockwell commented on #6
I'm not sure we should go that clever... I really like sticking with the auth/policy naming scheme to keep it relatively explicit, but still unique. Maybe something with an `_ex` or `_phoenix` since this will probably be a true Phoenix-only package from here on out.

* authr - also looks like maybe a trademark issue?
* author - too confusing?
* policy_ex
* ex_policy
* phoenix_policy
* ex_pundit -

[2016-09-03 15:16] schrockwell commented on #6
expunge (v) - erase or remove completely

`ex_punge`?

[2016-09-03 15:53] bencates commented on #6
I'd steer clear of phoenix_*; feels too official. We could go with
something anthropomorphic. Bouncer, hall monitor, border guard, etc.

I'm just getting to the park, so I'll be offline until this evening.

On Sat, Sep 3, 2016, 11:16 AM schrockwell <notifications@github.com> wrote:

[2016-09-03 16:21] schrockwell commented on #6
Bouncer - your app is throwing a party, and some users aren't invited

Two syllables, one word, easy to remember. I really dig it.
On Sat, Sep 3, 2016 at 11:53 AM Ben Cates <notifications@github.com> wrote:

[2016-09-03 16:27] schrockwell commented on #6
Doh, already taken. Twice.
https://hex.pm/packages?_utf8=✓&search=Bouncer&sort=downloads

I like the anthro idea though.
On Sat, Sep 3, 2016 at 12:21 PM Rockwell Schrock <schrockwell@gmail.com>
wrote:

[2016-09-03 16:40] schrockwell commented on #6
From Thesaurus.com:

Main Entry: bodyguard
Part of Speech: noun
Definition: protector
Synonyms: bouncer, escort, guardian, minder, muscle*, praetorian, security
guard

Also I'm throwing in: doorman
On Sat, Sep 3, 2016 at 12:27 PM Rockwell Schrock <schrockwell@gmail.com>
wrote:

[2016-09-03 17:56] schrockwell commented on #6
Some "bouncer" synonyms, available on Hex:
* bodyguard
* muscle
* protector
* garrison

[2016-09-03 18:31] bencates commented on #6
We could do a lot worse than bodyguard.

On Sat, Sep 3, 2016, 1:56 PM schrockwell <notifications@github.com> wrote:

[2016-09-03 19:36] bencates commented on #5
So does `scope/2` return an `Ecto.Query` object or a list of schemas?  Because I don't think your index will work; needs to be `scope(conn, Post) |> Repo.all`.

[2016-09-03 21:23] schrockwell commented on #5
Ah you're right. So it's not quite as clean as in that example. I was mainly trying to demonstrate the bang method usage to get a feel for it.

You okay with dropping the old authorize macro in favor of the plain function that returns a tuple? Seems like the most idiomatic way to go about it.

[2016-09-03 21:27] bencates commented on #5
Sure, drop away. Less API is always better.

On Sat, Sep 3, 2016, 5:23 PM schrockwell <notifications@github.com> wrote:

[2016-09-04 02:10] schrockwell commented on #6
Okay cool, we will go with `bodyguard`. I like it.

We can put in all the API changes into `bodyguard v0.2.0` and do the rename at the same time.

[2016-09-04 02:49] schrockwell commented on #5
Great. I've already made the change to `authorize/3` on `develop`, so I will wait on your PR for the bang methods before going further. We can do the rename and fix up the README as the final step.

[2016-09-04 16:22] schrockwell commented on #5
This looks great. We've already hit pretty much everything on the list.

I'm undecided on how to handle the nil case. If we want to go the route of pure authorization, we should probably remove the `:nils` option entirely and either (a) raise an `ArgumentError` (will be a 500 error I think), or (b) raise our `Authy.NotAuthorizedError`.

I'm leaning towards (a).

[2016-09-04 16:29] bencates commented on #5
I've got some ideas there. I'll try to get another PR put together this
evening so we have something concrete to talk over.

On Sun, Sep 4, 2016, 12:22 PM schrockwell <notifications@github.com> wrote:

[2016-09-04 16:33] schrockwell commented on #5
👍 Make sure to pull down my latest changes.

[2016-09-04 20:25] schrockwell commented on #5
Dumb question, but how do we wire up Phoenix to correctly catch the exception and render the `ErrorView` template? Check out the [Custom Errors](http://www.phoenixframework.org/docs/custom-errors) example at the bottom.

[2016-09-04 20:34] bencates commented on #5
http://stackoverflow.com/questions/30536979/setting-up-custom-response-for-exception-in-phoenix-application

tl;dr run it in production mode

[2016-09-07 20:07] schrockwell commented on #6
This is done on develop. Still need to bump version and rename GitHub project.

[2016-09-07 20:09] schrockwell commented on #2
Something to think about: topics in socket handlers are *strings*, but controller actions are *atoms*. Pattern matching these types of actions won't work out of the box. We can't blindly convert strings to atoms, because atoms are not garbage collected in the Erlang VM.

[2016-09-07 20:48] schrockwell commented on #5
@bencates For now I've just "punted" the nil case, and removed the `nils` option entirely.

* If `nil` is passed as the data, authorization fails immediately, without deferring to a policy, since it can't be determined.
* if `nil` is passed with the `policy` option specified, then that policy module is used, passing `nil` as the data.

[2016-09-07 21:38] schrockwell commented on #5
It looks like we've hit everything on this list, and I'm pretty happy with the result.

Please let me know if there's anything we missed. Otherwise I'll close this and move forward with the release.

[2016-09-07 23:05] bencates commented on #5
I'm almost inclined to push `nil` handling down to `Bodyguard.authorized?/4`, and I'm comfortable with it just returning `false`.

That said, I'm okay with closing this and releasing.  I think we've got the controller API in a comfortable place.  I've got a PR with some code cleanup (#8), but it doesn't impact the public API.

[2016-09-08 13:47] schrockwell commented on #5
Awesome!

[2016-09-08 13:47] #5 closed

[2016-09-08 14:21] schrockwell commented on #6
Done! I made a new branch called `authy-deprecated`, bumped to `v0.1.1`, added a deprecation warning in the Hex package description, and pushed it to Hex.

`bodyguard v0.2.0` is also published and merged to `master`.

\o/ Thanks for all your help @bencates. I really believe this package is better as a result of your contributions. I'm already dog-fooding it!

[2016-09-08 14:21] #6 closed

[2016-09-08 15:21] bencates commented on #6
Great!  I'm going to be pulling it into my project later this week.

[2016-09-08 16:19] bencates commented on #3
With some imports and helper functions that live outside our bailiwick, that turns into `authorized?(current_user(conn), :action, resource)`.  We could theoretically shorten that to `(conn, :action, resource)`, but that seems like a lot less clarity for no real benefit.

I don't know that we need explicit view helpers, but we might want to provide a section in the Readme about view usage.

[2016-09-08 16:23] bencates commented on #2
Plus those strings usually have some formatting in them.  Is there a generalized way to assume that the room `"post:123"` maps to `authorize? current_user(socket), :show, Repo.get(Post, 123)`?

[2016-09-08 16:29] bencates commented on #1
This is pretty easy (via [`Ecto.Changeset.apply_changes/1'](https://hexdocs.pm/ecto/Ecto.Changeset.html#apply_changes/1)), but that does require pulling in Ecto as a dependency.

[Apparently Mix supports optional dependencies.](https://groups.google.com/forum/#!topic/elixir-lang-talk/Xe9uXE3uGsY)  I'm gonna try playing with that to see if it works for our use case.

[2016-09-08 20:57] schrockwell commented on #2
I would say, in general, no. I don't think that's a convention we would want to enforce.

There are three distinct aspects of sockets that need authorizing: (1) socket connect, (2) channel join, and (3) channel messages in AND out (you can `handle_out` to filter outgoing messages)

I'm not sure we need to worry about (1). Is there a case where we would want to explicitly deny a user connection to

[2016-09-08 21:04] schrockwell commented on #2
Or we could assume that once a user joins a channel, they are completely authorized, and all channel messages are therefore authorized and valid, so we don't even handle case (3) at all. That's probably a dumb approach, but I wanted to throw it out there.

[2016-10-08 17:44] JoshSmith commented on #1
Hey @schrockwell, any movement on this at all? We've implemented a `load_and_authorize_changeset` plug that works with Canary.

[2016-10-08 21:02] schrockwell commented on #1
Hey @JoshSmith! No we haven't made any progress on this feature yet. I'd be curious to see what you've got if you could share it.

[2016-10-09 05:50] JoshSmith commented on #1
Sure, let us flesh some things out a bit and circle back here.

[2016-11-04 02:02] archSeer opened #12 "nil handling does not work as described"
"nil data will not defer to any policy module, and will fail authorization by default. _If the :policy option is explicitly specified, then that policy module will be used, passing nil as the data._"

But the actual code will ignore the explicitly specified policy and fail: https://github.com/schrockwell/bodyguard/blob/936bdfc11477ce69e539122c7f28e6a1d33f6f71/lib/bodyguard/controller.ex#L31

[2016-11-04 14:35] schrockwell commented on #12
Good catch, thanks. The desired functionality must have been lost in a refactor. Let me take a quick look at this – should be a simple fix.

[2016-11-04 14:51] #12 closed

[2016-11-04 14:52] schrockwell commented on #12
Fixed and published v0.2.1. Thanks @archSeer.

[2016-11-06 09:39] archSeer opened #13 "Provide documentation on how to do nested resources."
I have a nested resource as such:

[code]

I want the user to be able to view all of the users by the same company, but not any other company's users. The problem is, on a route like /companies/:id/users, the id parameter is ignored and not passed further.

`Parameters: %{"company_id" => "e6cda375-72d8-4bd3-9437-112db20dc62e"}`

[code]

Should I separately be authorizing the company and then the u

[2016-11-07 17:14] schrockwell commented on #13
In general, yes. Since this is a nested resource, you should probably be authorizing the parent resource in EVERY action of the child resource, regardless. This is easy to add as a controller plug.

If you're truly just checking the ID, create a struct `%Company{id: params["company_id"]}` in memory and authorize that directly. Then you don't need to hit the DB since you don't need the entire conte

[2016-11-11 00:00] #13 closed

[2016-11-11 00:22] schrockwell commented on #1
The more I think about this, the more I like borrowing `permitted_attributes` from Pundit. Help the Rails guys feel at home.

Instead of dealing with changesets directly (and adding a dependency on Ecto), just return arrays of atoms for the permitted attributes based on user. Then it's persistence-agnostic too. It's not nearly as flexible as  changesets, but it covers most use cases.

[2016-11-11 01:07] #1 closed

[2016-11-11 01:07] schrockwell commented on #1
`permitted_attributes` available as of v0.3.0

[2016-11-11 03:14] JoshSmith commented on #1
@begedin ☝️

[2016-11-14 14:47] Mehonoshin commented on #3
Hello there!
I suppose that for some cases we can use some kind of view helper like
[code]
We probably can skip passing resource, when we are currently at Posts#index action, and we want to use the same resource name for Posts#new.
In such situation we can detect resource name from `conn` variable.

[2016-11-14 17:25] schrockwell commented on #3
@Mehonoshin I like the thought, but it assumes too much about what you're trying to authorize and thus only works in the most basic CRUD cases. For example if you have an index action that lists a bunch of resources, you might need to authorize an "edit" action for each individual resource. Or maybe you're authorizing a nested resource or another resource entirely (e.g. something in the page layou

[2016-11-14 21:28] Mehonoshin commented on #3
@schrockwell ok, I accept your position.
Anyway, I'll make a PR with simple `can?` view helper with 3 params. I think it is required quite often.
Or its better to add instruction to readme, that we can import controller helpers to view modules?
Thoughts?

[2016-11-16 13:25] schrockwell opened #14 "Add ability to return richer results from can?/3 callbacks"
Per Slack discussion with @jnicklas, it would be cool if a `can?/3` policy function could return tuples  to provide more information about why authorization failed.

* `true` and `:ok` would count as authorized
* `false`, `:error`, and `{:error, reason}` would count as unauthorized

Then the question remains – is the interrogative "can?" no longer semantic? Something like "permit" or "can" would b

[2016-11-16 13:26] schrockwell opened #15 "Make it easier to pass scopes in to scope/3 callbacks"
Right now it's technically possible through the optional `opts` list, but it would be nice if there was a convention for it so it was more obvious.

[2016-11-16 15:14] #14 closed

[2016-11-16 15:14] schrockwell commented on #14
Done in v0.4.0

[2016-11-22 02:28] schrockwell commented on #15
I'm thinking about changing the function definition of `scope(user, action, opts)` to `scope(user, scope, opts)` and just assuming that the scope is independent of what action is being authorized.

The new the `scope` parameter is a queryable to be passed in by the caller, similar to how Pundit's `Scope` class expects a scope to be passed into it.

I guess we'd also have to think about how it was

[2016-11-22 02:33] schrockwell commented on #15
Alternatively, we just change the callback to the even shorter `scope(user, opts)` and drop the scope requirement completely. If a user wants to pass in an explicit "parent" scope, they can do so in the `opts` keyword list. So the controller case would look like `scope(conn, Post, query: Post)` and then the `scope/2` callback in the policy module would look at `opts[:query]`.

Or, going the other

[2016-12-06 10:28] abitdodgy opened #16 "How do you handle cases when role is defined in another model?"
For example, in scenarios where you have a many-to-many association between, say, `companies` and `users`, where the `role` column is defined in the `memberships` schema.

In this scenario, the current user is not enough. We also need the membership record.

[2016-12-06 11:27] abitdodgy commented on #16
Easy enough, I suppose:

[code]

[2016-12-06 16:24] schrockwell commented on #16
Can you preload the `user.memberships` association prior to authorization? If so, then in your policy you can do everything in-memory without another query:

[code]

[2016-12-07 11:30] abitdodgy commented on #16
@schrockwell great suggestion as well. Thanks.

[2016-12-07 11:30] #16 closed

[2016-12-08 15:19] zimt28 commented on #3
For me `can?(@conn.assigns.user, :action, resource)` would be just fine. `@conn.assigns.user` can be written as `@user`:

So we'd end up with `can?(@user, :action, resource)`, which is short and simple, yet powerful👍

[2016-12-08 21:26] Mehonoshin commented on #3
Ok, I'll make PR with three-arguments helper tomorrow!

[2016-12-08 22:10] zimt28 commented on #3
@Mehonoshin Great, thanks! You might think about accepting a `%Plug.Conn{}` as the first argument as well, as bodyguard already assumes the user to be assigned to `current_user`. We could then just pass the `@conn`, which is nicer than `@current_user` as the first argument, but still pass other users as first argument when needed.

[2016-12-09 10:57] Mehonoshin commented on #3
I've submitted a PR, please check it

[2016-12-11 02:52] zimt28 commented on #3
@Mehonoshin Looking good, already using it 👍 @schrockwell can you merge this?

[2016-12-11 14:23] zimt28 commented on #3
Just in case someone else wants to try it as well:
[code]

[2016-12-11 16:05] schrockwell opened #18 "Add plug for setting default options"
Something like:

[code]

[2016-12-11 16:32] schrockwell commented on #3
This is a great idea, thanks guys. I'm going to accept the PR but tweak the implementation a bit. I'd like to  call `Bodyguard.authorized?`directly and drop `Bodyguard.Controller.authorized?`, because it doesn't fit with the rest of the functions in that module, which return a modified `conn` with the `bodyguard_authorized` flag set.

[2016-12-11 17:49] schrockwell commented on #3
Here's the tweaked version – any issue with this? https://github.com/schrockwell/bodyguard/commit/36924ef36f2695f517415bb4591c5cc7f3ae2eaf

[2016-12-11 19:24] zimt28 commented on #3
@schrockwell Just tried it, no problems for me

[2016-12-12 04:25] schrockwell commented on #18
Done, just needs a mention in the readme

[2016-12-13 02:43] schrockwell commented on #3
Released in v0.5.0.

[2016-12-13 02:43] #3 closed

[2016-12-23 13:59] abitdodgy commented on #15
I think being able to pass in the scope is key. At the moment, I'm doing this:

[code]

I would rather do something like this unless there's a better way:

[code]

[2017-01-08 17:49] schrockwell opened #19 "Add typespecs"
'nuff said

[2017-01-08 21:26] schrockwell commented on #15
@abitdodgy Thanks for the feedback, and I tend to agree. I'd like to keep the `action` argument in the `scope` callback as additional flexibility, since it's easy enough to wildcard match it using pattern matching if you don't need it.

I'm planning to change the `scope/3` callback to have the signature `scope(user, action, scope)` and omit `opts` entirely. The scope will be aware of Ecto queries,

[2017-01-08 23:22] #18 closed

[2017-01-09 02:52] #19 closed

[2017-01-24 18:31] zimt28 opened #20 "protocol Ecto.Queryable not implemented for []"
Hi!

I've been using policies so far and just tried to add scopes, however I get the following error:
[code]

[code]

All I've added is the following line (policies work fine for the same controller):

[code]
I've looked at the documentation but couldn't find a difference, what's wrong with my code?

Thanks!

[2017-01-24 19:02] zimt28 commented on #20
Looks like I'm getting empty lists for `_action` and `scope`

[2017-01-24 19:27] zimt28 commented on #20
Simple solution: I used the `master` Readme, but should have used https://github.com/schrockwell/bodyguard/tree/v0.5.0.

[2017-01-24 19:27] #20 closed

[2017-01-25 00:32] schrockwell commented on #20
Yeah, sorry about that, I'm in the process of making some breaking API changes. Glad you figured it out.

[2017-02-02 13:59] schrockwell commented on #15
Implemented in v0.6.0!

[2017-02-02 13:59] #15 closed

[2017-03-01 17:55] schrockwell commented on #2
This will be fixed in v2.0 by just using the `assigns` of whatever `actor` we're given, whether it's a `Plug.Conn`, or a `Phoenix.Socket`, or anything else.

[2017-03-01 17:55] #2 closed

[2017-03-04 14:12] zimt28 opened #23 "Phoenix 1.3"
With Phoenix `1.3` soon to be released, I was wondering how `bodyguard` should be used with it, as we will have more separation and structure (aka contexts) in the new version.

I'll now port my app over to the current `1.3.0-rc.0` and share my experience when I get to authorization, but I was wondering if you already thought about this :)

[2017-03-04 15:20] schrockwell commented on #23
I actually have given it some thought, and I'm glad you brought it up. :) Check out the readme on the `2.0-dev` branch: https://github.com/schrockwell/bodyguard/tree/2.0-dev and the PR: https://github.com/schrockwell/bodyguard/pull/22 for proposed changes.

The idea is to move authorization away from schemas (`MyApp.MySchema.Policy`) and instead move it up to the context level (`MyApp.MyContext.Po

[2017-03-04 16:31] schrockwell commented on #23
Since scoping is very schema-centric, maybe it makes sense to just use the schema module itself?

[code]

I dunno. Bodyguard doesn't really bring a lot to the table any more with regards to scoping, since it's not really doing any time-saving magic, and the callback structure is more mental overhead.

[2017-03-04 17:35] zimt28 commented on #23
One issue I see right now (with authorization) is that contexts shouldn't know about other contexts' schemas. This makes it impossible to pattern match `user` **and** `resource` using their structs unless they're in the same context. So I think we have to break or at least bend the rules a bit to make this work, don't we?

[2017-03-04 17:46] zimt28 commented on #23
One other thing to keep in mind is that people might build auth* into their app, or their interface. This brings up the question what's the best place to do it, I'd guess it would be the application itself as auth* would then work for all interfaces, but then the user would need to be passed with every context function call. In this case [canada](/jarednorman/canada) might just be enought. `bodygu

[2017-03-04 17:55] zimt28 commented on #23
[code]

What does `bodyguard` do here other than getting the current user from `conn` and then calling the `permit` functions? 🤔

[2017-03-04 18:02] schrockwell commented on #23
I had a good discussion about this on the Elixir slack last night. The consensus was that yes, the schemas should not refer to each other, and to avoid this each context should have their OWN version of the schema with only the fields that context cares about, e.g. `MyApp.MySchema.User` and `MyApp.MyOtherSchema.User`. Underneath they can refer to the same table in your DB.

So in that case, doing

[2017-03-04 18:08] schrockwell commented on #23
Maybe instead of a separate `Policy` module, the permission checks just live in the context itself. It's already a giant bag of functions, so might as well throw authorization on there.

[code]

Bodyguard is still a pretty thin layer at that point though.

[2017-03-04 19:50] schrockwell commented on #23
I wonder if a `@behaviour` is most appropriate at that point. Specify `authorize/3` as a behaviour and inject `authorize!/3` and `authorize?/3` wrappers for convenience.

Instead of magically unwrapping the `assigns[:current_user]` from a the `conn`, maybe provide a little macro to override the `action/2`:

[code]

[2017-03-04 21:54] zimt28 commented on #23
Right, so let's say we have an `%App.Accounts.User{}` we store in `conn.assigns`. Now, as we don't want to use schemas across contexts we define a `App.Blog.User` schema, which points to the same database table. The problem is that inside of our `App.Blog` context, we can't pattern match using `%App.Blog.User{}`, as the `conn` holds a `%App.Accounts.User{}`. The only way I see to do this is to bre

[2017-03-05 02:02] schrockwell commented on #23
Going with the behaviour approach for a moment, here's a fun idea: a first-class `Bodyguard.Action` struct to compose authorized actions, just like `Plug.Conn`, or `Ecto.Changeset`:

[code]

Pros:
* Don't have to use it – just use the Policy behaviour directly when that's all you need
* Divorces Plug.Conn logic from actions
* Can construct Actions ahead of time with known defaults, then just appen

[2017-03-05 18:09] schrockwell commented on #23
OK so I implemented the above interface on `2.0-dev` – take a look.

`Bodyguard.Policy` is now a simple behaviour with one require callback: `authorize/3`. Given that assumption, now you can build a ton of functionality around it.

`Bodyguard.Action` is the new composable structure for incrementally building up an authorized action.

I didn't update the README yet, but the rest of the docs are up-

[2017-03-09 17:24] schrockwell commented on #23
@zimt28 Take a look at the latest on `2.0-dev`. I think you'll find it meshes nicely with Phoenix 1.3 contexts and is flexible enough to support the different use cases we discussed above.

The API is almost totally different, so refactoring existing policies/scopes to support it will be a bit of work, but I think it's a net positive moving forward from 1.3.

I've redone my app in the 1.3 layout a

[2017-03-09 21:14] zimt28 commented on #23
Beautiful! I'll give it a try this weekend and let you know how it went, but I don't see any issues and love the simplicity :) Well done 👍

[2017-03-11 18:07] zimt28 commented on #23
I'd like to bring up a question I've had before again: Should authorization be an application or interface concern?

I think that everyone has to decide on his own, but what should be the suggested way? I will just use `authorize!` directly in my context functions, so authorization will be consistent across interfaces and I thinks it makes more sense, as the motivation behind `1.3` is to make clea

[2017-03-12 02:34] schrockwell commented on #23
Since you brought it up, I'm honestly on the fence about this. All the examples I wrote for the docs show auth checks on the interface (e.g. controller actions) which is nice because failure handling is basically an interface concern, so it's easier to follow the "flow" of execution when it stays in the same layer.

There is the benefit of not having to pass around `user` everywhere in the context

[2017-03-18 16:19] zimt28 commented on #23
Also, for people using scopes this would probably always be the case.

I'm not sure how I'll do this. I'd like to perform the checks inside my context's functions, but I'm not sure whether `authorize/3` or `authorize!/3` is the way to go. When using my app with a Phoenix interface, `authorize!/3` would just throw a `Bodyguard.NotAuthorizedError` which can be handled properly, but in order to be in

[2017-03-18 20:04] schrockwell commented on #23
Could you just put the `with` in the context function? It would be an extra level of indentation but you could do it.

[code]

So then `Blog.create_post/2` could return `{:ok, post}` or `{:error, :unauthorized}`

[2017-03-20 16:36] zimt28 commented on #23
That's what I want to do, but then I'd have to use `with` syntax in the contexts _and_ controllers, otherwise pattern matching in the controllers might fail:

[code]
What I'm thinking about is the following, this would allow to skip `with` in the controllers, leading to much cleaner and less repetitive code:

[code]

[2017-03-20 18:12] schrockwell commented on #23
Yup, that could work. It's totally up to you – it's a tradeoff of explicitness.

[2017-03-20 19:56] zimt28 commented on #23
That's my biggest concern yet. The other way I see is to wrap the `authorize` calls in `Auth.check` or something, which then calls `authorize/3` or `authorize!/3`, depending on how the inferface has configured it to work.

I think I'll try the approach mentioned above first and then see if it feels right :)

[2017-03-20 20:17] schrockwell commented on #23
Great. I'm going to wait until the official 1.3.0 release before bumping Bodyguard to 2.0, just in case there are any changes to Phoenix that would warrant a re-think of Bodyguard. But that doesn't seem likely, so I expect the Bodyguard API to be stable.

[2017-03-31 01:31] darkbaby123 commented on #23
It's a really helpful discussion! I think authorization with context API is the right direction. I have a question though:

I see the `authorize/3`'s last parameter is a `params`, does that mean I need to pass it even for creation logic? like `authorize(:create_post, user, nil)` ? Can the API to treat the last parameter as optional? Not sure if callback can do it though

[2017-03-31 02:32] schrockwell commented on #23
@darkbaby123 Since you're defining the `authorize/3` callback, it's up to you to provide default values for `params` in the callback definition. All the Bodyguard helpers (`authorize!/3`, `authorize?/3`, etc) default it to `%{}`, so you should do something like `def authorize(action, user, params \\ %{})`

[2017-03-31 12:59] darkbaby123 commented on #23
@schrockwell Thanks! I borrowed part of the policy code from 2.0-dev to my own project. And I choose to add default parameter to `authorize!/3`. I'm really looking forward 1.3 to come out then I can switch to Bodyguard 2.0.

@zimt28 I'll leave my 2 cents to call the `authorize` in web interface instead of application interface. Because there're some of APIs doesn't need user. If I wrote `authorize

[2017-04-14 11:23] abitdodgy commented on #23
@schrockwell

Typically, I do this by injecting the `current_user` (or any current resource) via Plug then overriding  the controller `action/2` to pull the `current_user` from `conn.assigns` and injecting it in the action args.

[code]

[code]

[2017-04-20 01:08] schrockwell commented on #23
Hi folks, just a quick update after the above discussions. I shuffled around the API to make things more concise. At a high level, the new `Bodyguard.permit/4` and `Bodyguard.scope/3` helpers are now the entry points into the API, instead of calling the callbacks directly.

If you've been using `2.0-dev`, here's a summary of changes:

* Behaviours and callbacks have not changed at all
* `Bodyguard

[2017-05-17 21:36] schrockwell opened #25 "verify_authorized plug doesn't work properly on Phoenix 1.3"
When using the `verify_authorized` plug in Phoenix 1.3 with Bodyguard 1.x, if *any* error is thrown in a controller action, the 403 error is raised and the error page does not show.

This is due to the way controller actions were refactored in Phoenix 1.3 to support fallback controllers. See https://github.com/phoenixframework/phoenix/blob/v1.3.0-rc.2/lib/phoenix/controller/pipeline.ex#L86

Need t

[2017-06-21 16:46] cybrox commented on #23
I'm planning on using `2.0-dev` (or its respective release, once that's out) with Phoenix `1.3-rc2`. Just wanted to check back and ask, what's the status of the refactoring?

[2017-06-21 16:47] schrockwell commented on #23
@cybrox No API changes planned - go for it!

[2017-06-21 16:53] cybrox commented on #23
Wow, that was fast! Thanks, I'll give it a shot! 😄

[2017-06-29 16:19] acrolink opened #26 "Cannot install under Phoenix 1.3 RC2"
I am getting:

[code]

[2017-06-29 19:02] schrockwell commented on #26
Hi @acrolink - bodyguard 2.0 isn't published on hex yet. Please use this dependency spec in `mix.exs` in the meantime:

[code]

[2017-06-30 08:39] acrolink commented on #26
I managed to retrieve the library but I get this error:

[code]

I had added `import Bodyguard.Controller` though to `web.ex` under `controller` and `view`.

[2017-06-30 13:08] schrockwell commented on #26
Looks like you're referring to the old documentation. Please use the README on the `2.0-dev` branch: https://github.com/schrockwell/bodyguard/tree/2.0-dev

[2017-06-30 13:47] schrockwell commented on #23
Hi everyone – `v2.0.0` is live on Hex now! Thanks for all the constructive discussions.

[2017-06-30 13:47] #23 closed

[2017-06-30 13:48] schrockwell commented on #26
@acrolink I just today released version 2.0.0 on Hex, so you can update your dependency now:

[code]

[2017-06-30 14:03] acrolink commented on #26
@schrockwell

Thank you. I have inserted this into a context file:

[code]
But I get a compilation error:

[code]
Any idea what might be going on here? Thank you.

[2017-06-30 16:03] schrockwell commented on #26
Oh I see that's an issue in the README. You'll need to pattern-match on the user IDs in order to use them in the guard clause:

[code]

[2017-06-30 17:30] acrolink commented on #26
I have managed to achieve the desired result where other libraries failed under Phoenix 1.3. Thank you very much. I needed to load the Post first and then pass it to `permit` function as parameter in order to see if the user owns that Post.

This library is promising, I will test and surely provide ideas. Meanwhile, I guess the coding can be little less verbose. I recommend inspecting this gem for

[2017-06-30 18:05] schrockwell commented on #26
Glad you got it working and thanks for the feedback. The verbosity is actually a design decision brought on by a few things:

* Phoenix (and Elixir in general) tends to favor explicitness over magic. To me, using a DSL to express authorization rules has never been flexible enough and is always more difficult to mentally unwrap than a pure function
* Phoenix 1.3 moves away from a model-centric desi

[2017-06-30 18:05] #26 closed

[2017-06-30 18:09] al3x-edge commented on #26
@acrolink Rather new to Elixir and Phoenix, but I believe the entire point is to remove convention like `authorize!` which assumes there is a `current_user` and `current_policy` variable in context of where it is being run.  We are re-writing an API current which used doorkeeper, Pundit, and pundit-resources where we have to juggle multiple variables of the same name but were actually different va

[2017-06-30 18:12] schrockwell commented on #26
Nope, you nailed it @al3x-edge. Bodyguard 1.x was a Pundit clone (check out the `1.x` branch readme if you're curious), but as the direction for Phoenix changed it was clear to me that wasn't the right way to go.

[2017-06-30 18:13] acrolink commented on #26
Passing parameters of any kind to the function gives surely flexibility especially when special and checks need to be done. I will be looking forward to implement this library more thoroughly. BTW verbosity, is there a way to shorten `con.assigns.current__user` to something shorter that can be accesses anywhere within the application?

[2017-06-30 18:17] al3x-edge commented on #26
@acrolink Maybe `cu` if you control where the assignment is or just assign to a `user` variable for line brevity.

[code]

[2017-06-30 18:22] al3x-edge commented on #26
@acrolink I haven't had time to play with yet, but there is also Bodyguard.Action (https://hexdocs.pm/bodyguard/Bodyguard.Action.html) which might get you closer to having default values for conventions in your application.

[2017-06-30 18:39] schrockwell commented on #26
@acrolink Look at this post about override `action/2` in your controllers: https://dockyard.com/blog/2016/05/02/phoenix-tips-and-tricks

TLDR you override the `action/2` callback so that your controller action signatures now look like:

[code]

[2017-07-01 09:41] acrolink opened #27 "Elaborate documentation concerning roles checks inside authorize function"
In documentation, an example is given to make role checks inside `authorize` function. Kindly, provide more information how to implement the `role` field itself, datatype, schema properties etc.

[code]

[2017-07-01 13:16] acrolink commented on #27
Update:

I have managed to do this:

[code]

I have created a `Roles` table with a string field named `name `as **primary key**. But still I need to specify it as `"admin"` not `:admin` in `def authorize(...)`

[2017-07-05 00:26] schrockwell commented on #27
Yes, the role field is an implementation detail left to the user. It could be an atom in some cases.

[2017-07-05 00:26] #27 closed

[2017-07-06 13:35] schrockwell opened #29 "Add helper module for controllers to automatically grab current_user from assigns"
It would be great if we could just do:

[code]

…and automatically pull in `conn.assigns[:current_user]` for the user param (key configurable via config)

Not sure if it should be `permit(conn, Posts, :create_post)` (more plug-like) or `permit(Posts, :create_post, conn)` (matches signature of `Bodyguard.permit/4`)

[2017-07-07 15:43] schrockwell opened #30 "Add macro for incorporating authorization checks directly in contexts"
Relevant discussion here: https://elixirforum.com/t/authorizing-context-actions-where-in-each-method-or-the-controller/6676

Note: would almost certainly require updating docs to change `@behaviour Bodyguard.Policy` to `use Bodyguard.Policy` to inject the macro (should have just done that in the first place).

[2017-07-08 13:08] schrockwell commented on #30
WIP on PR #31

[2017-07-19 20:59] schrockwell opened #32 "Support boolean results from `authorize/3` callback"
* Map `true` -> `:ok`
* Map `false` -> `{:error, :unauthorized}`

[2017-07-20 12:23] schrockwell opened #33 "Allow any term for the permit/4 params"
Only convert a keyword list to a map – otherwise, just pass the param straight through

[2017-07-22 20:43] #32 closed

[2017-07-22 20:43] #33 closed

[2017-08-02 06:23] samphilipd opened #36 "Putting scope inside a custom module"
I see that the `Bodyguard.scope/3` helper automagically infers the record name from the Ecto queryable. In order for that to work, our scope must actually be defined inside the Ecto record itself.

I feel like this is too restrictive and kind of a hack. It also leads to unnecessarily fattening Ecto records. Scoping doesn't belong there - for example, we'd like to define our scopes inside a dedicat

[2017-08-03 12:58] schrockwell commented on #36
I initially had scopes be separate modules/files from my Ecto models, and my directories quickly became bloated and difficult to navigate, so I consolidated both queries AND changesets into the schema.

You have two options here:

- In your schema, `use Bodyguard.Schema, scope_with: Some.Other.Scope` – [docs](https://hexdocs.pm/bodyguard/Bodyguard.Schema.html)
- When calling `Bodyguard.scope/3`, p

[2017-08-18 20:18] schrockwell commented on #30
Won't implement

[2017-08-18 20:18] #30 closed

[2017-08-18 20:20] #36 closed

[2017-09-13 08:35] cc3c opened #37 "Implementation of permitted attributes"
I have migrated my app from phoenix 1.2 to 1.3. But in order to upgrade Bodyguard 1 to 2, my app uses the api of permitted attributes that was available in 1.0.0
I asume this enhancement is in your roadmap, this is only a reminder.
Thnx in advance.

[2017-09-13 12:51] schrockwell commented on #37
Thanks, this was not something I was considering but I will definitely take another look. Should be simple enough to add.

[2017-09-18 14:08] schrockwell opened #38 "Fix user option for Bodyguard.Plug.Authorize"
Need to do something smarter about the `user` option in the `Bodyguard.Plug.Authorize` plug module. Since the `init/1` callback happens at compile-time, we can't provide functions as options because they can't be unwrapped.

The easiest solution is change it to a `{module, function}` tuple that gets the current user from the conn.

[2017-11-25 11:35] abitdodgy opened #39 "How to render changeset errors when using with?"
Is it possible to render changeset errors when using `with` syntax? For example:

[code]

This will fail with a `WithClause` error because there's no clause that matches `{:error, :unauthorized}`.

However, dropping down to `action_fallback`:

[code]

Doesn't render the template along with the changeset to display the errors.

Is it possible to use a `with` syntax and still show validation errors?

[2017-11-25 17:14] schrockwell commented on #39
Define a catch-all clause in the `else` block to ensure that any other error result is matched.

[code]

[2017-11-25 17:23] schrockwell commented on #39
Side note: it's cases like this that make me think recommending the bang methods might actually be a better pattern. This is so much easier to read, IMO:

[code]

If you believe authorization failure is truly an _exceptional_ case (i.e. is shouldn't happen under normal circumstances), then it makes sense to throw an exception.

[2017-11-26 10:10] abitdodgy commented on #39
I agree with you there. As for adding an additional clause, I tried to do that originally, but I didn't like adding another clause for authorization. Thanks!

[2017-11-26 10:10] #39 closed

[2017-11-26 11:17] abitdodgy opened #40 "permit! not raising a Bodyguard.NotAuthorizedError"
I'm getting a different error than what I expect when I use `permit!`:

[code]

The error is:

[code]

[2017-11-26 11:34] abitdodgy commented on #40
To get around this issue, I'm doing this:

[code]

[2017-11-26 15:27] schrockwell commented on #40
Good catch. The problem was that `permit!` was expecting that `post` argument to be an options keyword list (something like `[post: post]`, which is an old library requirement that I must have not removed from that function.

Anyway, I've published a fix. Please update your Bodyguard dependency to `v2.2` using `mix deps.update bodyguard`.

[2017-11-26 15:29] #25 closed

[2017-11-26 15:34] #29 closed

[2017-11-26 16:55] abitdodgy commented on #40
That update solved it. Thanks.

[2017-11-26 16:55] #40 closed

[2017-12-20 20:43] schrockwell opened #42 "Support any type for actions?"
It would be useful if an action could be any type. There's no real reason to constrain it to atoms.

This might "just work" and only require typespec changes.

[2018-01-27 12:53] LostKobrakai opened #43 "Typespec to loose for Bodyguard.permit/4"
`Bodyguard.permit/4`'s typespec does suggest that it can return any of the possible return values of policies, but in fact it does normalize to only `:ok | {:error, …} | no_return`. It would be nice if this can be reflected in the typespec.

[2018-01-28 14:41] schrockwell commented on #43
Good catch – thanks! Fixed in `v2.2.2`

[2018-01-28 14:41] #43 closed

[2018-01-28 14:42] schrockwell commented on #38
Never mind - seems to work okay!

[2018-01-28 14:42] #38 closed

[2018-02-08 09:13] LostKobrakai opened #44 "Add changelog"
It would be nice if there would be a changelog file for bodyguard. I'm always looking what changed before updating dependencies and this would make the process quite a bit easier.

[2018-02-08 16:45] schrockwell commented on #44
https://github.com/schrockwell/bodyguard/blob/master/CHANGELOG.md

💥 💥 💥

[2018-02-08 16:45] #44 closed

[2018-02-23 05:08] archSeer opened #45 "Bodyguard.Plug.Authorize default action to Phoenix action_name(conn)?"
Could we technically make the action always default to `action_name(conn)`? https://hexdocs.pm/phoenix/Phoenix.Controller.html#action_name/1

That way it would be a smart default that we wouldn't need to then manually specify everywhere.

[2018-02-23 05:12] schrockwell commented on #45
Can you tell me a little bit more about how you're using the Authorize plug -  is it in a Phoenix controller? Just trying to get an idea where the repetition lies.

[2018-02-23 05:16] archSeer commented on #45
It's in a Phoenix Controller, and our Bodyguard action always matches the Phoenix Controller action. That way we need to specify in every controller:

[code]

this way we'd be able to skip the action parameter.

[2018-02-23 05:17] archSeer commented on #45
I'm probably going to define a macro that will expand to the above though:

[code]

[2018-02-23 05:23] schrockwell commented on #45
I was going to recommend the macro as a quick solution, but it sounds like you're on top of it.

I'd like to avoid the Phoenix dependency so I probably wouldn't make it the default option - at least not directly. Instead I'd consider providing a config options so the user can specify default options for the plug, e.g.

[code]

[2018-02-23 05:27] archSeer commented on #45
Yeah I guess that makes sense, the default wouldn't work with plain Plug. Using the config to specify it project-wide would be great I think.

By the way, you should probably add a mention of Bodyguard.Plug.Authorize to the main README! It's very useful and seems to be around since 1.x, but we haven't been using it until now because it wasn't mentioned anywhere specifically (and I didn't check the

[2018-02-23 05:33] archSeer commented on #45
To sidetrack a bit, `action` and `user` parameters support a function, but `params` doesn't. Would be good to support a function there too because then I could do something like this:

[code]

[2018-02-23 05:36] schrockwell commented on #45
Yeah, good call - I'll make a new issue for that. I think I got so caught up making things nice for Phoenix contexts that I left out the folks would still like to easily authorize at the web layer.

`Bodyguard.Action` was a kernel of an idea but I haven't really taken it anywhere and am considering soft-deprecating it so I don't want to push it too hard right now. I'd be curious if you are actuall

[2018-02-23 05:37] schrockwell opened #46 "Update README to mention Plugs and Actions"

[2018-02-23 05:38] schrockwell opened #47 "Support dynamic `params` on the `Bodyguard.Plug.Authorize` plug"
On the `Bodyguard.Plug.Authorize` plug, the `action` and `user` options accept functions. We should do that for `params`, too.

[2018-02-23 05:40] schrockwell opened #48 "Add default config for Bodyguard.Plug.Authorize plug options"
Example:
[code]

Note we probably shouldn't/can't use anonymous functions in config files.

These would be merged in with the plug options, which would take precedence.

[2018-02-23 05:45] schrockwell commented on #45
Although since you're using functions for every argument, you may as consider defining a function plug instead.

[code]

[2018-02-23 11:04] archSeer commented on #45
Since all the other issues have been opened now, I'll close this one

[2018-02-23 11:04] #45 closed

[2018-02-23 13:52] schrockwell commented on #45
Thanks for the helpful discussion!

[2018-03-09 03:12] jung-hunsoo commented on #48
In Coherence, the function is Coherence.current_user(conn).
And I'm worry about the default action won't useful when the Bodyguard is in the context.
Buy the way defining defaults will be useful in productivity.

[2018-05-02 12:44] abitdodgy opened #51 "Thoughts on scope/4"
The signature of [`scope/4`](https://hexdocs.pm/bodyguard/Bodyguard.html#scope/4) has `user` as the second argument and the description states:

What about cases where we need to filter a query on a resource other than the current user, like a current account, for example?

I suppose we can pass in the account in place of the user:

[code]
I haven't really tested this and it brings some additional

[2018-06-30 09:36] NobbZ opened #52 "Return type of Bodyguard.Authorize.init/1"
The function mentioned in the subject does return a map, this is not allowed in Plug 1.0 (according to the callbacks specs).

The specs do allow a map only since 1.3.0.

[2018-06-30 09:43] NobbZ commented on #52
I took a quick look and phoenix 1.3.3 depends on `{:plug, "~> 1.3.3 or ~> 1.4"}`.

Since you target phoenix 1.3s contexts, you should probably do the same.

[2018-11-09 14:34] jung-hunsoo commented on #47
Indeed.

[2018-12-12 15:03] albertchan commented on #47
I second this! Any hint on when this may be supported? Thanks!

[2019-05-12 21:15] elieteyssedou opened #57 "Why not use {:error, :forbidden} ?"
Hi,

First, thanks for the great library !

I was wondering why the library doesn't return `{:error, :forbidden}` instead of `{:error, :unauthorized}`, when authorization is failing ?

[After reading on the subject](http://www.dirv.me/blog/2011/07/18/understanding-403-forbidden/index.html), `:forbidden` would be more appropriate... `401 Unauthorized` seems to be for an error of authentication (tok

[2019-05-13 13:35] schrockwell commented on #57
Hi @elieteyssedou! Please note that the result of the authorization check has no intrinsic meaning to the web layer – that's up to you. See the [Controllers](https://github.com/schrockwell/bodyguard#controllers) section of the readme for an example of how to return a 403 from `{:error, :unauthorized}`.

[2019-05-15 08:27] elieteyssedou commented on #57
Hi @schrockwell,

Thank you for you reply. Yeah, I understand that, but it is strongly linked to the response you will send back in the web layer, don't you think ? Plus, I somewhere in my app I have an authentication mechanism including an `{:error, :unauthorized}` as it should be for authentication, I won't be able to  match on that error for returning `401`, because of default configuration of

[2019-05-23 19:54] schrockwell commented on #57
You are able to return any value from an `authorize/3` callback, so you could explicitly return `{:error, :forbidden}` instead of `false`. Is that too much of a pain?

I could add a config option to make the default error customizable. For example:

[code]

[2019-05-29 16:10] elieteyssedou commented on #57
Yeah, I think a default error customizable would be great ! It is not something mandatory and without it I would still use bodygard, but if I were able to configure this, it would remove my only frustration about this library.

I really like to use the booleans to authorize or not an action and be confident that it will be handled the right way by my controllers. :) I will may be use this feature

[2019-07-24 08:11] ckreiling commented on #47
Hello, any updates on this? I'd really like this functionality.

[2019-07-24 08:13] ckreiling commented on #47
@mmcall10 I see you have a PR open with support for this, how's it going?

[2019-07-24 15:03] mmccall10 commented on #47
@ckreiling I don't thinks it's been looked at. I haven't heard any feedback on the PR. It's not a very big change. Take a look. I'm pretty sure it won't be supported because there was a work around discussed in chat. I haven't used it in a while and don't find myself in elixir projects anymore.

I think the workaround was something like this:

[code]

[code]

[code]

Hope that helps.

[2019-07-26 14:15] #47 closed

[2019-07-26 14:34] schrockwell commented on #52
Fixed in 2.3. Good eye - thank you!

[2019-07-26 14:34] #52 closed

[2019-07-26 14:35] #46 closed

[2019-07-26 15:16] #37 closed

[2019-07-26 15:19] schrockwell commented on #57
Published in 2.3.0! See the config section near the bottom of the README.

[2019-07-26 15:19] #57 closed

[2019-07-26 15:23] schrockwell commented on #51
Yeesh, sorry I am getting back to this over a year later.

I'm not 100% on your intentions here… Bodyguard doesn't really know what you mean by "user", i.e. it can be whatever model or data structure you want. It's just a placeholder for "actor who we want to authorize actions against".

In fact you could even pattern-match on it, so you could accept `%Account{}` structs in some cases, and `%User{

[2019-07-26 15:24] #42 closed

[2019-07-26 18:06] coladarci opened #59 "Overriding schema in `scope/4` appears to be broken?"
I'm passing in a `query` where the "schema can't be determined". I noticed I should be able to pass in `schema: MySchema` and be all set. It doesn't work, and when I look at the source code, it seems like it couldn't..

[code]

When that line is run, it'll immediately run the last arg to get the default value and that bombs out because of this:

[code]

I think what you need to do is pass in a `fn

[2019-08-02 23:19] schrockwell opened #60 "Accept {module, function} config for callback functions"
Use case: the `:params` options in the plug can't access functions that are defined in that module.

So, in addition to accepting `params: &get_params/1`, also allow `params: {__MODULE__, :get_params}` and use `apply/3` at runtime.

[2019-08-04 02:10] schrockwell commented on #60
Published in 2.4.0!

[2019-08-04 02:10] #60 closed

[2019-08-04 02:11] schrockwell commented on #48
This is available in 2.4.0 now!

@jung-hunsoo yes, the default value for any option can be configured

[2019-08-04 02:11] #48 closed

[2019-08-19 13:39] elieteyssedou commented on #57
Oh nice, will update soon ! Thanks 🙏

[2019-08-20 19:51] rjurado01 opened #61 "Support for strong parameters?"
Is in your plans add support for strong parameters as [Pundit for Rails](https://github.com/varvet/pundit#strong-parameters) ?

[2019-09-24 08:51] LostKobrakai opened #62 "Overriding plug"
Currently it's suggested to use the app env for providing default values for the `Authorize` plug:
[code]

https://github.com/schrockwell/bodyguard/blob/develop/lib/bodyguard/plug/authorize.ex#L26-L33

I'm wondering if it would be better to suggest just wrapping it in another plug like so:

[code]

It's more flexible and also isn't limited to a single set of defaults.

[2019-12-06 02:55] baldwindavid commented on #61
Since params are generally filtered via changesets in Phoenix, it would likely need to work alongside them. You're not really asking _how_ to do this without explicit support, but perhaps it helps to mention a couple ways to do it even without a Bodyguard method.

Supposing you had a `Projects` context, it could have an authorize rule for `:update_all_attrs`.

Then in your schema (`project.ex`) th

[2020-01-15 17:20] ndarilek opened #65 "Please add example for using plugs with fallback controllers"
Hey, thanks for this library. Currently using it to add authorization to my app, and the documentation has been mostly very clear.

I'm starting to replace my initial simplistic authorization flow with Bodyguard, and am having some issues using the Authorize plug with a fallback controller. First, I have a policy definition like so:

[code]

Next I have this as an administrative-only controller:

[2020-07-05 17:30] jherdman opened #67 "Anonymous Function Example Broken?"
Given...

[code]

The following error results:

[code]

This is relevant per https://github.com/schrockwell/bodyguard/blob/develop/README.md#plugs uses this.

Platform:

[code]

[2020-07-08 00:47] jherdman opened #68 "Cut Release?"
Schema scopes aren't in the released version. Would it be okay to cut a release?

[2020-09-15 15:28] wodow commented on #67
Can't quote an anoymous function?  ref  https://elixirforum.com/t/quote-ed-expressions-and-functions/15996

[2020-11-04 08:24] crbelaus opened #70 "Compilation warnings on Elixir 1.11"
Compiling bodyguard on Elixir 1.11 throws the following warning:

[code]

[2021-01-28 17:02] leandrocp opened #71 "Need help to maintain bodyguard?"
Hi @schrockwell, first of all thanks for creating bodyguard! We've been using it successfully, however looks like it's moving at a slow pace or near abandoned.

The lib is stable but issues like https://github.com/schrockwell/bodyguard/issues/70 are concerning to me because eventually that will become a problem to update the deps of a project. So I'd like to offer help to keep maintaining bodygard

[2021-02-03 14:05] schrockwell commented on #71
Hi there, just wanted to let you know that I have seen this and that I really appreciate your offer and am seriously considering it. Let me get back to you in a few days.

[2021-02-03 14:10] leandrocp commented on #71
Hey @schrockwell thanks for considering this offer. Keep in mind that I have no plans to change the internal design nor the public API. The lib is great as it’s is, I just want to make sure it continues to be stable for future usage.

[2021-02-03 15:04] schrockwell commented on #71
Sure, that's not my concern at all, I just need to figure out my priorities over here. Obviously the library has grown in use a lot since its inception, and I just haven't been doing a lot of Phoenix/Elixir lately. I also have some concerns about the design of the library as a whole, and have been waffling on how to tackle that.

[2021-02-03 15:43] leandrocp commented on #71
No pressure but feel free to share your concerns so I may be able to help tackle them.

[2021-02-06 16:46] benkimpel commented on #71
Hello @schrockwell and @leandrocp I'm also happy to help either as a maintainer or with PRs. I'm currently switching to Bodyguard from a homegrown solution so I'm interested in the design concerns.

[2021-02-06 17:53] benkimpel commented on #67
I ran into this issue as well. I believe @wodow is correct as this seems to occur during the Controller.Pipeline macro expansion/plug build. It may have worked as documented with previous versions of plug or phoenix although I'm not quite sure how because I'm not familiar with that code.

For a working implementation of params you could define a function in your controller and provide it to the pl

[2021-02-06 17:57] benkimpel commented on #67
(function will need to be public)

[2021-02-10 19:23] benkimpel commented on #71
Hey @schrockwell and @leandrocp, I opened #72 to address #70.

@schrockwell FWIW*, I actually really like design of Bodyguard. My team likes it as well. I probably wouldn't change much except to maybe _limit/reduce_ what it does. Maybe even pull the plug out into a separate lib, because Bodyguard itself would be incredibly stable without plug dependency.

[2021-02-10 20:06] benkimpel commented on #70
#72 should resolve this

[2021-02-10 20:57] schrockwell commented on #71
This is actually exactly what I was alluding to. I will open up new thread for that discussion.

[2021-02-10 23:56] benkimpel commented on #71
Cool. If you're interested Github Discussions is in beta. https://docs.github.com/en/discussions/quickstart

[2021-02-15 16:24] schrockwell commented on #68
Sorry, but I'm not sure what you are asking… schema scopes are in the release.

[2021-02-15 16:24] #68 closed

[2021-02-16 17:07] #51 closed

[2021-02-16 19:30] schrockwell commented on #67
Thanks folks. It's really interesting that `& &1.foo.bar` cannot be escaped, but `&MyModule.foo/1` can.

Anyway, I have updated the example in the readme to use the `{module, fun}` notation.

[2021-02-16 19:30] #67 closed

[2021-02-16 19:31] schrockwell commented on #61
Thanks for the feedback, but this is out-of-scope for Bodyguard and won't be implemented.

[2021-02-16 19:31] #61 closed

[2021-02-16 19:42] schrockwell commented on #62
Great idea – docs updated!

[2021-02-16 19:42] #62 closed

[2021-02-16 19:50] schrockwell commented on #70
Fixed in v2.4.1

[2021-02-16 19:50] #70 closed

[2021-02-16 19:51] schrockwell commented on #59
Fixed in v2.4.1

[2021-02-16 19:51] #59 closed

[2021-07-20 17:19] miguelac commented on #65
You can find a nice example here https://hexdocs.pm/bodyguard/Bodyguard.Plug.Authorize.html

Believe the key bit you need for you case is adding this `fallback: ScribeWeb.FallbackController` to your `plug Bodyguard.Plug.Authorize` call

[2021-08-04 00:10] kidbombay commented on #71
Any updates on this?

[2021-10-22 17:36] schrockwell opened #81 "Update deps"
A bunch of the deps have build warnings because of old syntax, etc.

[2022-09-23 19:38] joshchernoff opened #85 "Type spec too restrictive?"
Why only just a string or atom?
https://github.com/schrockwell/bodyguard/blob/main/lib/bodyguard/policy.ex#L40

[code]
I am currently using tuples and it's working aside from dialyzer crying.